<section class = "user-edit clearfix">
    <h4 class = "user-edit">登録情報<%= resource_name.to_s.humanize %></h4>
</section>

<div class = "container">
  <div class = "row">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class = "col-xs-6">
        <div class = "field">
          <%= f.label :姓 %><br>
          <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
        </div>
        <div class = "field">
          <%= f.label :カナ姓 %><br>
          <%= f.text_field :kana_last_name, autofocus: true, autocomplete: "kana_last_name" %>
        </div>
        <div class = "field">
        <%= f.label :メールアドレス %><br>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div>

      <div class = "col-xs-6">
          <div class = "field">
          <%= f.label :名 %><br>
          <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
          </div>
          <div class = "field">
          <%= f.label :カナ名 %><br>
          <%= f.text_field :kana_first_name, autofocus: true, autocomplete: "kana_first_name" %>
          </div>
          <div class = "field">
          <%= f.label :郵便番号 %><br>
          <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %>
          </div>
          <div class = "field">
          <%= f.label :住所 %><br>
          <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
          </div>
          <div class = "field">
          <%= f.label :電話番号 %><br>
          <%= f.text_field :tel, autofocus: true, autocomplete: "tel" %>
          </div>
      </div>
  </div>
  <section class = "user-password clearfix">
    <h4 class = "user-password">パスワード変更</h4>
    <p>変更がない場合は空欄</p>
  </section>
  <div class = "row">
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class = "field">
      <%= f.label :新パスワード %> <i>(変更しない場合は空欄にしてください)</i><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %>文字以上</em>
      <% end %>
    </div>

    <div class = "field">
      <%= f.label :新パスワードの確認 %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class = "field">
      <%= f.label :現在のパスワード %> <br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class = "actions">
      <%= f.submit "編集完了", class: "btn btn-primary" %>
    </div>
     <% end %>
  </div>

  <div class = "row">
    <section class = "delete-account clearfix">
      <h4 class = "delete-account">退会</h4>
    </section>
    <p><%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "本当に退会しますか?" }, method: :delete, class: "btn btn-warning"%></p>
  　<%= link_to "戻る", :back %>
  </div>
