<h2>会員登録</h2>　<%= render "devise/shared/links" %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <table>
    <tr>
      <td>
        <div class="field">
          <%= f.label :姓 %>
          <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
        </div>
      </td>
      <td>
        <div class="field">
          <%= f.label :名 %>
          <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
        </div>
      </td>
      </tr>

      <tr>
      <td>
        <div class="field">
          <%= f.label :カナ姓 %>
          <%= f.text_field :kana_last_name, autofocus: true, autocomplete: "kana_last_name" %>
        </div>
      </td>
      <td>
        <div class="field">
          <%= f.label :カナ名 %>
          <%= f.text_field :kana_first_name, autofocus: true, autocomplete: "kana_first_name" %>
        </div>
      </td>
    </tr>
  </table>

    <div class="field">
      <%= f.label :郵便番号 %>
      <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %>
      <em>(ハイフン不要)</em>
    </div>

    <div class="field">
      <%= f.label :住所 %>
      <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
    </div>

    <div class="field">
      <%= f.label :電話番号 %>
      <%= f.text_field :tel, autofocus: true, autocomplete: "tel" %>
      <em>(ハイフン不要)</em>
    </div>

    <div class="field">
      <%= f.label :メールアドレス %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :パスワード%>
      <% if @minimum_password_length %>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password" %>
      <em>(<%= @minimum_password_length %> 文字以上)</em>
    </div>

    <div class="field">
      <%= f.label :パスワード確認 %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

  <div class="actions">
    <%= f.submit "会員登録" %>
  </div>
<% end %>