<h1>レビュー編集</h1>

<div class = "product-box">
  <%# attachment_image_tag @product, :jacket_img, :fill, 100, 100, format: 'jpeg', fallback: "no_img.jpg" %>
  <%= @product.product_name %><br>
  <%# @artists.artist_name %>
  <%= @label.label_name %><br>
  <%= @genre. genre_name %><br>

 </div>

 <%= form_for @review, url:admin_product_review_path(@product.id,@review.id) do |f| %>
　　<div class="form-group">
        <%= f.label :name, '投稿者名' %>
        <%= f.text_field :name, class: 'form-control' %>
   </div>
   <div class="form-group">
        <%= f.label :title, 'レビュータイトル' %>
        <%= f.text_field :title, class: 'form-control' %>
   </div>
   <div class="form-group">
        <%= f.label :body, 'レビュー本文' %>
        <%= f.text_area :body, class: 'form-control', rows:10 %>
   </div>
        <%= f.submit '編集完了', class: 'btn btn-warning ' %>

 <% end %>
 <%= link_to '削除', admin_product_review_path(@review), method: :delete , class:"btn btn-danger", 'data-confirm' => '本当に削除しますか？' %>

