<% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
<div class = "container">
  <div class = "row">
  	<div class = "col-xs-3">
     <div class = "tape-box">
      <div class = "tape"></div>
       <h4>ユーザー情報</h4>
          <p>名前: <%= @user.last_name %><%= @user.first_name %></p></
          <p>郵便番号: <%= @user.postal_code %></p>
          <p>住所: <%= @user.address %></p>
          <p>電話番号: <%= @user.tel %></p>
          <p>メールアドレス: <%= @user.email %></p>
          <p><%= link_to '情報を編集する', edit_user_registration_path(@user) %></p>
     </div>
    </div>

    <div class = "col-xs-9">
      <div class = "left-upper">
       <h4>購入履歴一覧</h4>
    	  <table class = "table">
          <thead>
            <tr>
              <th>注文ID</th>
              <th>ステータス</th>
              <th>注文日</th>
            </tr>
          </thead>
          <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td><%= link_to order.id, order_path(order.id) %></td>
              <td><%= order.shipping_status %></td>
              <td><%= order.created_at.to_date %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <div class = "left-lower">
    	  <h4>いいね一覧</h4>
    	  <table class = "table">
      		<thead>
      		  <tr>
      		    <th>イメージ</th>
      		    <th>商品名</th>
      		    <th>価格</th>
      		  </tr>
      		</thead>
      		<tbody>
      		<% @favorite_products.each do |favorite| %>
      		  <tr>
      		    <td><%# attachment_image_tag favorite, :jacket_img %></td>
      		    <td><%= link_to favorite.product.product_name, product_path(favorite.product) %></td>
      		    <td><%= favorite.product.price %></td>
      		  </tr>
      		<% end %>
      		</tbody>
      	</table>
      </div>
    </div>
  </div>
</div>