<% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>


<div class = "container">
  <div class = "row">
  	<div class = "col-xs-7 col-xs-offset-3">
  	  <h3>ユーザー情報</h3>
      <h3>名前: <%= @user.last_name %><%= @user.first_name %></h3>
      <h3>郵便番号: <%= @user.postal_code %></h3>
      <h3>住所: <%= @user.address %></h3>
      <h3>電話番号: <%= @user.tel %></h3>
      <h3>メールアドレス: <%= @user.email %></h3>
      <p><%= link_to '情報を編集する', edit_user_registration_path(@user) %></p>


      <h2>購入履歴一覧</h2>
	  <table>
        <thead>
          <tr>
            <th>注文ID</th>
            <th>ステータス</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= link_to order.id, order_path(order.id) %></td>
            <td><%= order.shipping_status %></td>
            <td><%= order.created_at.to_date %></td>
          </tr>
        <% end %>
        </tbody>
      </table>

	  <h2>いいね一覧</h2>
	  <table>
		<thead>
		  <tr>
		    <th>イメージ</th>
		    <th>商品名</th>
		    <th>価格</th>
		  </tr>
		</thead>
		<tbody>
		<% @favorite_products.each do |favorite| %>
		  <tr>
		    <td><%# attachment_image_tag favorite, :jacket_img %></td>
		    <td><%= link_to favorite.product.product_name, product_path(favorite.product) %></td>
		    <td><%= favorite.product.price %></td>
		  </tr>
		<% end %>
		</tbody>
	  </table>
      </div>
   </div>
</div>