<%= notice %>
<div class = "container">
  <div class = "row">
  	<p class = "process">カート  >  <strong>住所情報/支払い情報</strong>  >  確認</p>
  	<div class = "col-xs-9">
      <div class = "clearfix" style = "padding: 10px; margin-bottom: 10px;">

          <h4>お届け先住所 <%= link_to "変更", addresses_path %></h4>
          <% if params[:address_id] == nil %>
            <%= current_user.full_name %><br>
	          <%= current_user.postal_code %><br>
	          <%= current_user.address %><br>
	          <%= current_user.tel %>
          <% else %>
            <%= @address.name %><br>
            <%= @address.postal_code %><br>
            <%= @address.address %><br>
            <%= @address.tel %>
          <% end %>
          <br>
          <br>
          <!-- 登録していない住所はここで登録する -->
          <%= link_to "新しい住所を登録", new_address_path %>
      </div>
      <div>
      <h4>
      <table class = "table">
        <h3>カート内容</h3>
        <thead>
          <tr>
            <th></th>
            <th>商品名</th>
            <th>値段</th>
            <th>注文数</th>
          </tr>
        </thead>
        <tbody>
         <% @user_orders.each do |cart| %>
           <tr>
             <td><%= attachment_image_tag cart.product, :jacket_img, :fill, 100, 100, format: 'jpeg', fallback: "no_img.jpg", size:'100x100' %></td>
             <td><%= link_to cart.product.product_name, product_path(cart.product) %></td>
             <td><%= cart.product.stock %></td>
             <td><%= number_with_delimiter(cart.product.price) %>円</td>
             <td>数量：<%= cart.quantity %></td>
           </tr>
         <% end %>
        </tbody>
      </table>
      </div>
    </div>

    <div class = "col-xs-3">
      <h3 class = "order-title">ご注文内容</h3>

      <table class = "table">
    	  <tr>
    	  	<th>小計</th>
    	  	<th></th>
    	  	<th><%= number_with_delimiter(@subtotal_price) %>円</th>
    	  </tr>
    	  <tr>
    	  	<th>消費税</th>
    	  	<td><p>消費税8%</p></td>
    	  	<th><%= number_with_delimiter(@tax) %>円</th>
    	  </tr>
        <tr>
    	  	<th>送料</th>
    	  	<td>一配送 500円</td>
    	  	<th><p><%= number_with_delimiter(500) %>円</p></th>
    	  </tr>
    	  <tr>
    	  	<th class = "total_price_title">総合計金額</th>
    	  	<th></th>
    	  	<th><%= number_with_delimiter(@final_price) %>円</th>
    	  </tr>
      </table>

      <% if current_user.carts.exists? %>
        <h5>支払い方法選択</h5>
        <%= form_for @order, url: orders_path do |f| %>
          <label> <%= f.radio_button :payment_method, "クレジット", required: "required" %> クレジット</label>
          <label> <%= f.radio_button :payment_method, "銀行振込" %> 銀行振込 </label>
          <label> <%= f.radio_button :payment_method, "代金引換" %> 代金引換 </label>
          <% if params[:address_id] != nil %>
            <%= f.hidden_field :shipping_name, value: @address.name %>
            <%= f.hidden_field :shipping_address, value: @address.address %>
            <%= f.hidden_field :postal_code, value: @address.postal_code %>
            <%= f.hidden_field :tel, value: @address.tel %>
          <% else %>
            <%= f.hidden_field :shipping_name, value: current_user.full_name %>
            <%= f.hidden_field :shipping_address, value: current_user.address %>
            <%= f.hidden_field :postal_code, value: current_user.postal_code %>
            <%= f.hidden_field :tel, value: current_user.tel %>
          <% end %>
          <br>
          <%= f.submit '注文を確定する', class: "btn btn-primary col-xs- 7purchase-confirm" %>
        <% end %>

        <!-- クレカ決済 -->
        <% if current_user.cards.exists? %>

          <h4> カード情報 </h4>
          カード番号 <%= "**** **** ****" + @default_card_information.last4 %>
          <br>
          有効期限 <%= @default_card_information.exp_month.to_s %> /
          <%= @default_card_information.exp_year.to_s.slice(2,3) %>

        <% else %>

          <%= form_tag cards_path, method: :POST, id: "charge-form" do %>

            <label> カード番号 </label>
            <input maxlength = "16" type = "text" id = "card_number" class = "number", name = "number",  placeholder = "半角数字のみ" >
            <br>
            <label> 有効期限 </label>
            <select class = "exp_month" id = "exp_month" name = "exp_month" type = "text">
              <option value = ""> -- </option>
              <option value = "1"> 1 </option>
              <option value = "2"> 2 </option>
              <option value = "3"> 3 </option>
              <option value = "4"> 4 </option>
              <option value = "5"> 5 </option>
              <option value = "6"> 6 </option>
              <option value = "7"> 7 </option>
              <option value = "8"> 8 </option>
              <option value = "9"> 9 </option>
              <option value = "10"> 10 </option>
              <option value = "11"> 11 </option>
              <option value = "12"> 12 </option>
            </select>
            <span> 月/ </span>

            <select class = "exp_year" id = "exp_year" name = "exp_year" type = "text">
              <option value = ""> -- </option>
              <option value = "2019"> 19 </option>
              <option value = "2020"> 20 </option>
              <option value = "2021"> 21 </option>
              <option value = "2022"> 22 </option>
              <option value = "2023"> 23 </option>
              <option value = "2024"> 24 </option>
              <option value = "2025"> 25 </option>
              <option value = "2026"> 26 </option>
              <option value = "2027"> 27 </option>
              <option value = "2028"> 28 </option>
              <option value = "2029"> 29 </option>
            </select>
            <span> 年 </span>
            <br>
            <label> セキュリティコード </label>
            <input class = "cvc", id =  "cvc", name = "cvc", placeholder = "カード裏面３〜４桁の番号", maxlength = "4" >
            <input class = "payjp_token" type = "hidden" name = "payjp_token", value = "">
            <div id = "card_token">
              <%= submit_tag "追加する", id: "submit-button", type: "submit" %>
            </div>
          <% end %>
        <% end %>
        <!-- クレカ決済ここまで -->
      <% end %>
    </div>
  </div>
</div>