<%= notice %>
<div class = "container">
  <div class = "row">
  	<p class = "process">カート  >  <strong>住所情報/支払い情報</strong>  >  確認</p>

  	<div class = "col-xs-9">
      <div class = "clearfix" style = "padding: 10px; margin-bottom: 10px; border: 1px solid #333333; border-radius: 10px;">

          <h5>お届け先住所 <%= link_to "変更", addresses_path %></h5>
          <% if params[:address_id] == nil %>
            <%= current_user.full_name %><br>
	          <%= current_user.postal_code %><br>
	          <%= current_user.address %><br>
	          <%= current_user.tel %>
          <% else %>
            <%= @address.name %><br>
            <%= @address.postal_code %><br>
            <%= @address.address %><br>
            <%= @address.tel %>
          <% end %>
          <br>
          <!-- 登録していない住所はここで登録する -->
          <%= link_to "新しい住所を登録", new_address_path %>

          <% @user_orders.each do |cart| %>
            <div class = "confirm-items">
              <%# attachment_image_tag cart.product, :jacket_img, :fill, 100, 100, format: 'jpeg', fallback: "no_img.jpg", size:'100x100' %>
              <p class = "item-name"><%= link_to cart.product.product_name, product_path(cart.product) %></p>
              <p class = "contents">在庫数：<%= cart.product.stock %></p>
              <p class = "contents" >価格：<%= number_with_delimiter(cart.product.price) %></p>
              <p class = "contents">数量：<%= cart.quantity %></p>
            </div>
          <% end %>


      </div>
    </div>

    <div class = "col-xs-3">
      <h3 class = "order-title">ご注文内容</h3>

      <table class = "table">
    	  <tr>
    	  	<th>小計</th>
    	  	<th></th>
    	  	<th><%= number_with_delimiter(@subtotal_price) %></th>
    	  </tr>
    	  <tr>
    	  	<th>消費税</th>
    	  	<td><p>消費税8%</p></td>
    	  	<th><%= number_with_delimiter(@tax) %>円</th>
    	  </tr>
        <tr>
    	  	<th>送料</th>
    	  	<td>一配送 500円</td>
    	  	<th><p><%= number_with_delimiter(500) %>円</p></th>
    	  </tr>
    	  <tr>
    	  	<th class = "total_price_title">総合計金額</th>
    	  	<th></th>
    	  	<th><%= number_with_delimiter(@final_price) %>円</th>
    	  </tr>
      </table>

      <% if current_user.carts.exists? %>
        <h5>支払い方法選択</h5>
        <%= form_for @order, url: orders_path do |f| %>
          <label> <%= f.radio_button :payment_method, "クレジット", required: "required" %> クレジット</label>
          <label> <%= f.radio_button :payment_method, "銀行振込" %> 銀行振込 </label>
          <label> <%= f.radio_button :payment_method, "代金引換" %> 代金引換 </label>
          <% if params[:address_id] != nil %>
            <%= f.hidden_field :shipping_name, value: @address.name %>
            <%= f.hidden_field :shipping_address, value: @address.address %>
            <%= f.hidden_field :postal_code, value: @address.postal_code %>
            <%= f.hidden_field :tel, value: @address.tel %>
          <% else %>
            <%= f.hidden_field :shipping_name, value: current_user.full_name %>
            <%= f.hidden_field :shipping_address, value: current_user.address %>
            <%= f.hidden_field :postal_code, value: current_user.postal_code %>
            <%= f.hidden_field :tel, value: current_user.tel %>
          <% end %>
          <%= f.submit '注文を確定する', class: "btn btn-primary col-xs- 7purchase-confirm" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>