<div class = "container">
  <div class = "row">
　　<h3>購入履歴詳細</h3>
   <table class = "table">
   <tbody>
   <%= @order_history.each  do |history| %>
   <tr>
   	 <th>購入日</th>
   	 <td><%= history.created_at %></td>
   	</tr>
   	<tr>
      <th>購入内容</th>
      <td class = "contents"><%= attachment_image_tag history.product, :jacket_img, :fill, 50, 50, format: 'jpeg', fallback: "no_img.jpg", size:'50x50' %></td>
      <td><%= history.cart.quantity %></td>>
    </tr>
    <tr>
      <th>合計金額</th>
      <%= history.total_price %>
    </tr>
    <tr>
      <th>発送先住所</th>
      <td><%= history.postal_code %></td>
      <td><%= history.shipping_address %></td>
      <td><%= histrory.shipping_name %><p>様</p></td>
    </tr>
    <tr>
      <th>発送状況</th>
      <td><%= history.shipping_status %></td>
    </tr>
    <% end %>
  </div>
</div>