<div class = "container">
  <div class = "row history-details-box">
    <p class = "order-show-title">購入履歴詳細</p>
      <table class = "table history-details">
         <% @order_history.each do |history| %>
          <tr>
            <th>購入日</th>
            <td><%= history.created_at.to_date %></td>
          </tr>
         	<tr>
            <th>購入内容</th>
            <td class = "contents">
              <%# attachment_image_tag history.product, :jacket_img, :fill, 50, 50, format: 'jpeg', fallback: "no_img.jpg", size:'50x50' %>
              <%= link_to history.product.product_name, product_path(history.product) %> / <%# history.product.disks.musics.artist.artist_name %></td>
          </tr>
          <tr>
            <th> 購入枚数</th>
            <td><%= history.purchase_quantity %></td>
          </tr>
          <tr>
            <th>合計金額</th>
            <td><%= number_with_delimiter(history.purchase_price * history.purchase_quantity)円 %></td>
          </tr>
          <% end %>
          <tr>
            <th>発送先</th>
            <td><%= @order.shipping_name %>様<br>
            〒<%= @order.postal_code %><br>
            <%= @order.shipping_address %></td>
          </tr>
          <tr>
            <th>発送状況</th>
            <td><%= @order.shipping_status %></td>
          </tr>
      </table>
  </div>
</div>