<div class = "container">
  <div class = "row">
  	<div class = "col-xs-9">
      <p><strong>カート</strong>  >  住所情報/支払い情報  >  確認</p>
      <!-- ページ左側 カートの内奥 -->
  	  <h3 class = "cart-title">カート</h3>
  	  <table class = "table">
  	  	<thread>
  	  		<tr>
  	  		  <th></th>
  	  		  <th>商品名</th>
  	  		  <th>値段</th>
  	  		  <th>個数</th>
  	  		  <th>合計金額</th>
  	  		</tr>
  	  	</thread>

  	  	<tbody>
  	  	  <% @user_carts.each do |cart| %>
  	  	   <tr>
              <td class = "contents"><%= attachment_image_tag cart.product, :jacket_img, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size: '100x100' %></td>
                <td class = "contents"><%= link_to cart.product_name %></td>
                <td class = "contents"><%= link_to cart.product_price %></td>
                <td class = "quantity-select"><%= f.select :cart, [["1", "1"], ["2", "2"],["3","3"],["4","4"],["5","5"]],  :prompt => cart.quantity %></td>
                <td class = "content-total"><%= @get_total_price %></td>
            </tr>
              <% end %>
              </tbody>
       </table>
    </div>
    <!-- ページ右側 ご注文内容 -->
    <div class = "col-xs-3">
      <h3 class = "order-title">ご注文内容</h3>
      <table class = "table">
      	<tbody>
      	  <tr>
      	  	<th>小計</th>
      	  	<th></th>
      	  	<th><%= @subtotal_price %></th>
      	  </tr>
      	  <tr>
      	  	<th>消費税</th>
      	  	<td><p>消費税8%</p></td>
      	  	<th><%= @tax %></th>
      	  </tr>
      	  	<th>送料</th>
      	  	<td>一配送 500円</td>
      	  	<th><p>¥500</p></th>
      	  </tr>
      	  <tr>
      	  	<th class = "total_price_title">総合計金額</th>
      	  	<th></th>
      	  	<th><%= @final_price %></th>
      	  </tr>
      	</tbody>
       </table>
       <div class = "sibmit-bottom">
          <%= link_to '注文画面へ進む', orders_confirm_path, method: :post, class: "btn btn-primary col-xs-7" %>
       </div>
    </div>
  </div>
</div>