<div class = "container">
  <div class = "row">
  	<div class = "col-xs-9">
      <p class = "process"><strong>カート</strong>  >  住所情報/支払い情報  >  確認</p>
      <p class = "cart-title">ショッピングカート</p>
      <!-- ページ左側 カートの内奥 -->
  	  <table class = "table">
  	  	<thread>
  	  		<tr>
  	  		  <th></th>
  	  		  <th>商品名</th>
  	  		  <th>値段</th>
  	  		  <th>個数</th>
  	  		  <th>合計金額</th>
  	  		</tr>
  	  	</thread>

  	  	<tbody>
  	  	  <% @user_carts.each do |cart| %>
  	  	   <tr>
              <td class = "contents"><%# attachment_image_tag cart.product, :jacket_img, :fill, 100, 100, format: 'jpeg', fallback: "no_img.jpg", size: '100x100' %></td>
                <td class = "contents"><%= link_to cart.product.product_name, product_path(cart.product) %></td>
                <td class = "contents"><%= cart.product.price %>円</td>
                <%= form_for cart, url: cart_path(cart), method: :PUT do |f| %>
                  <td class = "quantity-select">
                    <% @cart_array.clear %>
                    <% (1..cart.product.stock).each do |s| %>
                      <% new_array = [s, s] %>
                      <% @cart_array.push(new_array) %>
                    <% end %>
                    <%= f.select :quantity, @cart_array, prompt: cart.quantity %>
                    <%= f.submit "個数を変更する", class: "btn-white" %>
                  </td>
                <% end %>
                <td class = "content-total"><%= cart.product.price * cart.quantity %>円</td>
                <td> <%= link_to "削除", cart_path(cart), method: :delete, class: "btn" %></td>
            </tr>
          <% end %>
        </tbody>
       </table>
    </div>
    <!-- ページ右側 ご注文内容 -->
    <div class = "col-xs-3">
    <section class = "order clearfix">
      <h3 class = "order-title">ご注文内容</h3>
    </section>
      <table class = "table">
      	<tbody>
      	  <tr>
      	  	<th>小計</th>
      	  	<th></th>
      	  	<td>¥<%= @subtotal_price %></td>
      	  </tr>
      	  <tr>
      	  	<th>消費税</th>
      	  	<td><p>消費税 8%</p></td>
      	  	<td>¥<%= @tax %></td>
      	  </tr>
      	  	<th>送料</th>
      	  	<td>一配送 ¥500</td>
      	  	<td><p>¥500</p></td>
      	  </tr>
      	  <tr>
      	  	<th class = "total_price_title">総合計金額</th>
      	  	<th></th>
      	  	<td class = "total_price_title">¥<%= @final_price %></td>
      	  </tr>
      	</tbody>
       </table>
       <div class = "sibmit-button">
        <% if current_user.carts.exists? %>
          <%= link_to '注文画面へ進む', orders_confirm_path, class: "btn btn-primary col-xs-7" %>
        <% end %>
       </div>
    </div>
  </div>
</div>