<div class="nested-fields well well-compact">
  <div class="form-group">
		<%= f.label :ディスク番号 %>
		<%= f.number_field :disk_number %>
		<%= link_to_remove_association "削除", f %>
	</div>

	<div class="music">
		<%= f.fields_for :musics do |music| %>
  		<%= render 'music_fields', f: music %>
		<%end%>

		<div class="links">
  		<%= link_to_add_association "曲名の追加", f, :musics %>
		</div>
	</div>
</div>
