<div class="nested-fields form-inline">
  <div class="form-group">
		<%= f.label :曲名 %>
		<%= f.text_field :music_title %>
		<%= f.label :トラック番号 %>
		<%= f.number_field :track_number %>
		<%= link_to_remove_association "削除", f %>
	</div>
</div>