<div class = "container">
  <div class = "row">
    <table class="table table-hover">
     <tbody>
      <%= form_for(@product) do |newproduct| %>
     <tr>
       <th><label>シングル / アルバム名</label></th>
       <td><%= newproduct.text_field :product_name, class: 'form-control' %><</td>
     </tr>
     <tr>
       <th><label>アーティスト名</label></th>
       <td><%= newproduct.disk.music.artist.text_field :artist_name, class: "col-xs-5" %></td>
       <td><p>ふりがな</p><%= f.text_field :product_name, class: 'form-control' %></td>
     </tr>
     <tr>
       <th><label>ジャケット画像</label></th>
       <td><%= attachment_image_tag newproduct, :jaclet_img, :fill, 100, 100, format: 'jpeg', fallback: "no_img.jpg" %></td>
     </tr>
     <tr>
       <th><label>レーベル名</label></th>
       <td><%= newproduct.label.text_field :label_name, class: 'form-control' %></td>
     </tr>
     <tr>
       <th><label>曲名</label></th>
       <td><%= newproduct.disks.musics.text_field :music_title, class: 'form-control' %></td>
     </tr>
     <tr>
       <th><label>ジャンル</label></th>
       <td><%= newproduct.genre.text_field :music_title, class: 'form-control' %></td>
     </tr>
     <tr>
       <th><label>在庫数</label></th>
       <td><%= newproduct.stock.text_field :stock, class: 'form-control' %>
     </tbody>
    </table>
  </div>
</div>