   <div class= "slider">
      <div><%= image_tag('closer.jpg') %></div>
      <div><%= image_tag('beginagain.jpg') %></div>
      <div><%= image_tag('callme_by_yourname.jpg') %></div>
      <div><%= image_tag('onedirection2.jpg') %></div>
      <div><%= image_tag('whatdoyoumean.jpg') %></div>
      <div><%= image_tag('1989.jpg') %></div>
      <div><%= image_tag('lalaland.jpg') %></div>
      <div><%= image_tag('shawn.jpg') %></div>
      <div><%= image_tag('neverreallyover.jpg') %></div>
      <div><%= image_tag('thepaperkites.jpg') %></div>
      <div><%= image_tag('abbeyroad.jpg') %></div>
      <div><%= image_tag('chainsmokers.jpg') %></div>
      <div><%= image_tag('sunset_season.jpg') %></div>
      <div><%= image_tag('PowerToThePeople.jpg') %></div>
      <div><%= image_tag('onedirection.jpg') %></div>
   </div>

<div class = "container">
 <div class = "row">
   <div class = "col-xs-9">
    <div class = "product-wrapper">
	<% @products.each do |product| %>
  		<div class = "product-item">
  			<%# attachment_image_tag product, :jacket_img%><br>
  			商品名：<%= link_to product.product_name, product_path(product) %><br>
  			アーティスト名：
  			<%# @artists.each do |artist| %>
  				<%# artist.artist_name %>
  			<%# end %>
  			<br>
  			価格：<%= product.price %> 円
  		</div>
	<% end %>
	<%= paginate @products, class: "paginate" %>
    </div>
   </div>
 </div>
</div>

   <div class = "col-xs-3">
     <div class = "ranking-box">
      <h3>人気ランキング
       <i class="fas fa-crown"style = "color: gold;"></i>
      </h3>
      <% @all_ranks.each.with_index(1) do |product , i| %>
        <p><%= i %> 位　</p>
        <div class = rank-img><img src= "assets/no_img.jpg" width="50" height="50">
         <div class = "rank-box">
         <%= link_to product.product_name,product_path(product) %>
         <p>価格<%= product.price %>円 (税別)</p>
         </div>
       </div>
      <% end %>
     </div>
   </div>
 </div>
</div>


<script type="text/javascript">
$(document).ready(function(){
  $('.slider').slick({
    autoplay: true,
    arrows: false,
    autoplaySpeed: 0,
    cssEase: 'linear',
    speed: 3000,
    swipe: false,
    slidesToShow: 14,
    slidesToScroll: 1,
  });
});
</script>