<div class= "slider">
  <% @products.each do |product| %>
   <div>
    <%= link_to product_path(product) do %>
      <%= attachment_image_tag product, :jacket_img, :fill, 100, 100, fallback: "no_img.jpg", size: "100x100" %>
    <% end %>
   </div>
  <% end %>
</div>

<main class = "clearfix">
  <div class = "product-wrapper">
	  <% @products.each do |product| %>
  		<div class = "product-item">
  			<%= attachment_image_tag product, :jacket_img, :fill, 200, 200, format: 'jpeg', fallback: "no_img.jpg", size: "180x180" %><br>
  			<span class = "product-name"> <%= link_to product.product_name, product_path(product) %></span><br>
  			<span class = "details">
    			<% product.artist_products.each do |artist_product| %>
    				<%= artist_product.artist.artist_name %>
    			<% end %>
        </span>
  			<br>
  			<span class = "details">価格：<%= number_with_delimiter(product.price) %> 円</span>
  		</div>
	  <% end %>
	  <%= paginate @products, class: "paginate" %>
  </div>

  <div class = "sidebar">
    <div class = "ranking-box">
      <p class = "ranking-title">
        <i class = "fas fa-crown" style = "color: #E8BB53;"></i>
        人気ランキング
        <i class = "fas fa-crown" style = "color: #E8BB53;"></i>
      </p>
      <% @all_ranks.each.with_index(1) do |product , i| %>
        <div class = rank-img>
          <div class = "tape"></div>
          <p><%= i %> 位　</p>
          <%= attachment_image_tag product, :jacket_img, :fill, 80, 80, fallback: "no_img.jpg", size: "80x80" %>
          <div class = "right">
              <span class = "product-name-rank"><%= link_to product.product_name,product_path(product) %></span><br>
              <p class = "details-rank">価格<%= number_with_delimiter(product.price) %>円 (税別)</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</main>

<script type="text/javascript">
$(document).ready(function(){
  $('.slider').slick({
    autoplay: true,
    arrows: false,
    autoplaySpeed: 0,
    cssEase: 'linear',
    speed: 3000,
    swipe: false,
    slidesToShow: 14,
    slidesToScroll: 1,
  });
});
</script>