<h1>商品一覧</h1>
<div>
	<% @products.each do |product| %>
		<div>
			<%= attachment_image_tag product.jacket_img, :image %><br>
			<p>商品名：<%= product.product_name %></p><br>
			アーティスト名：
			<%= @artists.each do |artist| %>
				<span><%= artist.artist_name %> </span>
			<% end %>
			<p>価格：<%= product.price %> 円</p>
		</div>
	<% end %>
	<%= paginate @products, class: "paginate" %>
</div>

<p>Find me in app/views/products/index.html.erb</p>
