<div>
	<%# attachment_image_tag @product.jacket_img, :image, alt: "jacket_image", class: "product_jacket" %>

	<div class="product_detail">
		<h2><%= @product.product_name %></h2>
		<!-- アーティストモデルのリレーションをどうするか決めた後で実装します -->
		<%# @artists.each do |artist| %>
		<%# artist.artist_name %>/ <%= @label.label_name %>
		<%= @genre.genre_name %>
	</div>

	<div class="#">
		¥ <%= @product.price %>
		在庫数 <%= @product.stock %> / <%= @product.sales_status %>
		<% if @product.stock > 0 %>
			<%= form_for @cart, url:product_carts_path(@product) do |f| %>
				<%= f.label :quantity, "数量" %>
				<%= f.select :quantity, @array %>
					<% if user_signed_in? %>
						<%= f.submit "カートに入れる", class: "btn btn-primary" %>
					<% else %>
						<p> カートに入れるにはログインしてください。</p>
					<% end %>
			<% end %>
		<% end %>
	</div>

	<div id="favorite_buttons_<%= @product.id %>">
    <%= render partial: 'favorites/favorite', locals: { product: @product } %>
  </div>

	<h3> トラックリスト</h3>
	<!-- 商品の新規登録ができるようになったらコメントアウトを取り消してください -->
	<% @disks.each do |d| %>
		<h3>ディスク<%= d.disk_number %></h3>
		<% @musics = d.musics %>
		<% @musics.each do |m| %>
		  トラック<%= m.track_number %>. <%= m.music_title %><br>
		<% end %>
	<% end %>
	<% if user_signed_in? %>
		<%= link_to "レビューを投稿する", new_product_review_path(@product), class: "review-button btn btn-success" %>
	<% else %>
		<p>レビューを書くにはログインしてください。</p>
	<% end %>
	<h2> レビュー</h2>

	<table class="table">
		<tr>
			<th> 投稿者</th>
			<th> タイトル</th>
			<th> 本文</th>
		</tr>

		<% @reviews.each do |r| %>

			<tr>
				<td>
					<%= r.user.first_name %>
				</td>
				<td>
					<%= r.title %>
				</td>
				<td>
					<%= r.body %>
				</td>
			</tr>
		<% end %>
		<%= paginate @reviews, class: "paginate" %>
	</table>
</div>