<div>
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<%# attachment_image_tag @product.jacket_img, :image, alt: "jacket_image", class: "product_jacket" %>
			</div>
	
			<div class="product_detail col-lg-4">
				<h2><%= @product.product_name %></h2>
				<%# @artists.artist_name %>/ <%# @label.label_name %>
				<%# @genre.genre_name %>
			</div>

			<div class="product-box col-lg-4">
				<h1>¥ <%= @product.price %></h1>
				<h1>在庫数 <%= @product.stock %> / <%= @product.sales_status %></h1>
				<%= form_for @cart, url:product_carts_path(@product) do |f| %>
				 <h3><%= f.label :quantity, "数量" %>
					<%= f.select :quantity, @array %>
					<% if @product.stock != 0 %>
				 </h3>
						<% if user_signed_in? %>
							<%= f.submit "カートに入れる", class: "btn btn-primary col-xs-12" %>
						<% else %>
							<p> カートに入れるにはログインしてください。</p>
						<% end %>
					<% end %>
				<% end %>
			</div>
		</div>


	


	<h2> トラックリスト</h2>
	<!-- ディスクごとに曲名を表示させる方法がわからないのでコメントアウトしてあります -->
	<%# @disks.each do |d| %>
		ディスク<%## d.disk_number %>
		<%# @musics.each do |m| %>
		  トラック<%# m.track_number %>. <%# m.music_title %>
		<%# end %>
	<%# end %>
	<div class ="favorite-box">
>>>>>>> ランキング機能実装
	<% if user_signed_in? %>
		<%= link_to "レビューを投稿する", new_product_review_path(@product), class: "review-button btn btn-success" %>
	<% else %>
		<p>レビューを書くにはログインしてください。</p>
	<% end %>
	  	
	 <span id="favorite_buttons_<%= @product.id %>">
    <%= render partial: 'favorites/favorite', locals: { product: @product } %>
  	</span>
  </div>
	<h2> レビュー</h2>

	<table class="table">
		<tr>
			<th> 投稿者</th>
			<th> タイトル</th>
			<th> 本文</th>
		</tr>

		<% @reviews.each do |r| %>

			<tr>
				<td>
					<%= r.user.first_name %>
				</td>
				<td>
					<%= r.title %>
				</td>
				<td>
					<%= r.body %>
				</td>
			</tr>
		<% end %>
		<%= paginate @reviews, class: "paginate" %>
	</table>
	</div>
</div>