<h3>レビュー投稿</h3>
 <div class = "product-box">
  <%= attachment_image_tag @product, :product_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>]
  <%= @product.product_name %>
  <%= @artist.artist_name %>
  <%= @label.label_name %> 
  <%= @genre. genre_name %>
  
 </div>

 <%= form_for(@review)  do |f| %>
　　<div class="form-group">
        <%= f.label :name, '投稿者名' %>
        <%= f.text_field :name, class: 'form-control' %>   
   </div>
   <div class="form-group">
        <%= f.label :title, 'レビュータイトル' %>
        <%= f.text_field :title, class: 'form-control' %>
   </div>
   <div class="form-group">
        <%= f.label :body, 'レビュー本文' %>
        <%= f.text_area :body, class: 'form-control', rows:10 %>
   </div>
        <%= f.submit '投稿', class: 'btn btn-info btn-block' %>
 <% end %>
