<!DOCTYPE html>
<html>
  <head>
    <title>CdMountain</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript" src = "https://js.pay.jp"></script>
    <script> Payjp.setPublicKey(ENV['PAYJP_KEY']); </script>
  </head>
  <body>
   <% if admin_signed_in? %>
    <%= render 'layouts/admin-header-footer' %>
   <% else %>
    <%= render 'layouts/user-header-footer' %>
   <% end %>
    <%= yield %>
    <footer class = "navbar navbar-dark bg-dark">
        <nav class = "nav navbar-nav">
          <h4 class = "footer-contents-name" > Customer Care</h4>
          <p><i class="fa fa-phone icon-white"></i> お問い合わせ 0120(XXX)XXX</p>
          <% if user_signed_in? %>
          <h5 class = "contact-footer"><%=link_to "お問い合わせ" , new_contact_path, class: "text-muted" %></h5>
          <% end %>
          <p>お返事に3〜4営業日いただきます。</p>
        </nav>
        <nav class = "nav navbar-nav footer-statement">
          <h4 class = "footer-contents-name">Shipping <i class="fa fa-car icon-white"></i></h4>
          <p>一配送につき送料全国一律500円（税込）</p>
          <p>ご注文受付日から5日以内のお届け</p>
        </nav>
        <nav class = "nav navbar-nav footer-statement">
          <h4>Pay securely with ... <i class="far fa-credit-card icon-white"></i></h4>
          <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
        </nav>
        <nav class = "nav navbar-nav footer-statement">
          <h4>Company Profile</h4>
          <p class = "company-name">CD MOUNTAIN</p>
          <p>所在地　長野県 XX市 XXXX番</p>
          <p>CDを通しての音楽との出会いを大切にしています。</p>
        </nav>
    </footer>
  </body>
</html>