<!DOCTYPE html>
<html>
  <head>
    <title>CdMountain</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  </head>
  <body>
<header class = "navbar navbar-light bg-light">
<nav class = "nav navbar-nav">
  <%= link_to image_tag("/assets/16062019103135A.png",size: '60'), root_path, method: :get %>
  <span site-name>CD MOUNTAIN</span>
</nav>
<nav class = "nav navbar-nav">
  <div class = "search-engine">
  <%= search_form_for @q do |f| %>
   <%= f.search_field :product_name_cont, class: 'form-control', id: "product-search" %>
   <%= f.submit "商品検索", class: "btn btn-default" %>
  <% end %>
  </div>
</nav>
  <% if user_signed_in? %>
    <nav>
      <ul class = "nav navbar-nav navbar-right">
       <li><%= link_to " マイページ", user_path(current_user), class: "glyphicon glyphicon-user" %></li>
       <li><%= link_to " ログアウト", destroy_user_session_path, method: :delete, class: "glyphicon glyphicon-log-out" %></li>
       <li><%= link_to '',carts_path, method: :get, class: "glyphicon glyphicon-shopping-cart" %></li>
      </ul>
    </nav>
  <% else %>
    <nav>
      <ul class = "nav navbar-nav navbar-right">
        <li><%= link_to " ログイン", new_user_session_path, class: "glyphicon glyphicon-log-in" %></li>
        <li><%= link_to " 新規登録", new_user_registration_path, class: "glyphicon glyphicon-cd" %></li>
        </ul>
      </nav>
  <% end %>
</header>
    <%= yield %>
  <footer class = "navbar navbar-dark bg-dark">
      <nav class = "nav navbar-nav">
        <h4 class = "footer-contents-name" > Customer Care</h4>
        <p><i class="fa fa-phone icon-white"></i> お問い合わせ 0120(XXX)XXX</p>
        <% if user_signed_in? %>
        <h5 class = "contact-footer"><%=link_to "お問い合わせ" , new_contact_path, class: "text-muted" %></h5>
        <% end %>
        <p>お返事に3〜4営業日いただきます。</p>
      </nav>
      <nav class = "nav navbar-nav footer-statement">
        <h4 class = "footer-contents-name">Shipping <i class="fa fa-car icon-white"></i></h4>
        <p>一配送につき送料全国一律500円（税込）</p>
        <p>ご注文受付日から5日以内のお届け</p>
      </nav>
      <nav class = "nav navbar-nav footer-statement">
        <h4>Pay securely with ... <i class="far fa-credit-card icon-white"></i></h4>
        <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
      </nav>
  </footer>
  </body>
</html>


